.playersScores {
  width: 100%;
  justify-content: space-between;
}

.playersScores h3 {
  border-bottom: 2px solid #000000;
}

.playersScores .player1 {
  color: #00ff00;
}

.playersScores .player2 {
  color: #00ff;
}

.playersScores h3 span {
  color: #000000;
}